<html>

<head>
    <title>Edit Student</title>
</head>

<body>

    <h2>Edit Student</h2>

    <form action="/students/{{ student.id }}/update" method="POST">

        Name: <input type="text" name="name" value="{{ student.name }}"><br><br>
        Email: <input type="email" name="email_id" value="{{ student.email }}"><br><br>
        Mobile: <input type="text" name="mobile" value="{{ student.mobile }}"><br><br>
        Address: <input type="text" name="address" value="{{ student.address }}"><br><br>
        Education: <input type="text" name="education" value="{{ student.education }}"><br><br>
        Gender: <input type="text" name="gender" value="{{ student.gender }}"><br><br>

        <button type="submit">Update</button>
    </form>

</body>

</html>