<html>

<head>
    <title>Student Registration Form</title>
</head>

<body>

    <h2>Registration Form</h2>

    <form action="/api/students" method="post">


        <label>Full Name:</label><br>
        <input type="text" name="name" required><br><br>


        <label>Address:</label><br>
        <textarea name="address" rows="4" cols="30" required></textarea><br><br>


        <label>Mobile Number:</label><br>
        <input type="tel" name="mobile" pattern="[0-9]{10}" placeholder="Enter 10 digit number" required><br><br>


        <label>Email ID:</label><br>
        <input type="email_id" name="email_id" required><br><br>


        <label>Education:</label><br>
        <select name="education" required>
            <option value="">--Select--</option>
            <option value="SSC">SSC</option>
            <option value="HSC">HSC</option>
            <option value="Diploma">Diploma</option>
            <option value="Graduate">Graduate</option>
            <option value="Postgraduate">Postgraduate</option>
        </select><br><br>


        <label>Gender:</label><br>
        <input type="radio" name="gender" value="Male" required> Male
        <input type="radio" name="gender" value="Female"> Female
        <input type="radio" name="gender" value="Other"> Other
        <br><br>

        <input type="submit" value="Submit">

    </form>

</body>

</html>